@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Designed and Developed by Dan Burnage
	Email: info@danburnage.com
*/

/*------------------------------------------------------------------- */

/* ----- Base Variables ----- */

:root {

	/* -- Colors -- */

	--AzureRadiance: #00afff;
	--BahamaBlue: #006E97;
	--Onahau: #CEF0FF;
	--Rhino: #283453;
	--Amaranth: #E7344C;
	--Supernova: #FFCC00;

	--Alabaster: #F8F8F8;
	--Iron: #E7E7E8;
	--Abbey: #50505A;
	--MineShaft: #222222;
	--White: #FFFFFF;

	--RedRibbon: #E30638;
	--JungleGreen: #2ACE58;
	--Buttercup: #F1C21B;

	--AzureRadiance-Gradient: linear-gradient(180deg, #00AFFF 0%, #0097FF 100%);
	--BahamaBlue-Gradient: linear-gradient(180deg, #006E97 0%, #3A4B78 100%);
	--Rhino-Gradient: linear-gradient(180deg, #283453 0%, #192135 100%);

	/* -- ######## -- */

}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ------- Site Layout ------ */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	outline: none;
	/* -- REM Value -- */
	font-size: 32px;
}

body {
	height: inherit;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 18px;
	background-color: var(--White);
}

:target {
	display: block;
	position: relative;
	top: -40px;
	visibility: hidden;
}

/* Mobile */
@media screen and (min-width: 0px) {

	.align-right {
		margin-left: auto;
		margin-right: 8px;
	}

	.align-left {
		margin-right: auto;
		margin-left: 8px;
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.align-right {
		margin-right: 16px;
	}

	.align-left {
		margin-left: 16px;
	}
}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- --Navigation-- ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

/* Mobile */
@media screen and (min-width: 0px) {

	.header {
		color: var(--White);
		background: var(--Rhino);
		padding-top: .5rem;
		padding-bottom: 0rem;
		width: 100%;
	}

	.header ul .align-right {
		margin: 0;
		width: 100%;
	}

	.header ul .col-9 {
		width: 100%;
	}

	.nav-menu {
		position: fixed;
		left: 0;
		opacity: 0;
		top: 0rem;
		background: var(--BahamaBlue-Gradient);
		width: calc(100% - 64px);
		height: 100%;
		padding: 25vh 32px 0px 32px;
		text-align: center;
		z-index: -1;
	}

	.nav-menu.active {
		left: 0;
		opacity: 1;
		z-index: 2;
		transition: 0.4s;
	}

	.header-logo {
		height: 40px;
	}

	.nav-logo {
		z-index: 3;
	}

	.header li {
		display: block;
		margin: 24px 0 0 0;
	}

	.header .button-link a {
		margin: 0 0 0 0;
		font-size: 20px;
		font-weight: 400;
		color: var(--White);
	}

	.header .button {
		max-width: 220px;
		margin: auto;
	}

	.header .secondary {
		margin: 24px auto !important;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		padding-top: 7px !important;
		z-index: 3;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.bar {
		display: block;
		width: 28px;
		height: 2px;
		margin: 6px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: var(--White);
	}

	.sec-footer {
		margin: 1.25rem 0 0 0 0;
		padding: 2rem 0 1rem 0;
		background: var(--Rhino-Gradient);
	}

	.sec-footer .wrapper {
		flex-wrap: wrap;
	}

	.serv-content .wrapper {
		flex-wrap: wrap;
	}

	.sec-footer-content a {
		color: var(--White);
		text-decoration: none;
		transition: 0.4s;
	}

	.sec-footer-content a:hover {
		color: var(--AzureRadiance);
		transition: 0.4s;
	}

	.sec-footer .caption {
		color: var(--White);
	}

	.sec-footer-content li {
		display: inline;
	}

	.sec-footer span {
		display: inline-block;
		line-height: 22px;
	}

	.sec-footer li {
		display: inline;
		line-height: 22px;
	}

	.sec-footer-content img {
		margin-bottom: 0.5rem;
		padding-right: ;
	}

	.sec-footer-content:first-child {
		margin-right ;
		margin-bottom: 0.75rem;
	}

	.sec-footer-content.col-2 {
		flex-basis: ;
	}

	.caption.opacity {
		opacity: 30%;
		font-size: 13px;
		line-height: 18px;
	}

	.footer-bottom {
		margin-top: 1rem;
	}

	.portfolio-link {
		width: 24px;
		margin: 2px 0 0 0;
		opacity: 20%;
		transition: 0.3s;
	}

	.portfolio-link:hover {
		opacity: 100%;
		transition: 0.3s;
	}

	.social-icons {
		width: 18px;
		vertical-align: middle;
		margin: 0 0 2px 10px;
		opacity: 76%;
		transition: 0.3s;
	}

	.social-icons:hover {
		fill: var(--AzureRadiance);
		opacity: 100%;
		transition: 0.3s;
	}

	span + .social-icons {
		margin: 0 0 2px 0px;
	}

	a > .caption {
		color: var(--White);
		transition: 0.3s;
	}

	a > .caption:hover {
		color: var(--AzureRadiance);
		transition: 0.3s;
	}


}

/* Tablet */
@media screen and (min-width: 937px) {

	.header {
		padding-top: 1rem;
		padding-bottom: 0rem;
	}

	.header-logo {
		height: 44px;
		margin-top: 13px
	}

	.hamburger {
		display: none;
	}

	.nav-menu {
		position: relative;
		left: 0;
		opacity: 1;
		background: var(--Rhino);
		width: ;
		height: ;
		padding: 16px 0 0 0 !important;
		transition: none;
		z-index: 1;
	}

	.header li {
		display: inline-block;
		margin: 0 0 8px 0;
	}

	.header .button {
		margin-top: 0 !important;
	}

	.header .secondary {
		margin-top: 0 !important;
		margin-right: 4px !important;
	}

	nav a {
		color: var(--White);
		transition: 0.4s;
	}

	.header .button-link a:hover {
		color: var(--AzureRadiance);
		transition: 0.4s;
	}

	.header .align-right {
		text-align: right;
		padding: 0 0 0 0;
	}

	.header .button-link {
		margin-right: 0.3rem;
		font-weight: 500;
	}

	.header .button-link a {
		font-size: 16px;
		font-weight: 500;
	}

	.header-logo {
		height: 48px;
	}

	.sec-footer {
		margin: 2rem 0 0 0 0;
	}

	.sec-footer-content img {
		width: 100%;
		max-width: 280px !important;
		margin-bottom: 0.5rem;
		padding-right: 1rem;
	}

	.sec-footer-content:first-child {
		margin-right: 1rem;
	}

	.sec-footer-content.col-2 {
		flex-basis: 10%;
	}

	.footer-bottom {
		margin-top: 3rem;
	}

}

/* Desktop */
@media screen and (min-width: 1024px) {

	.header .button-link {
		margin-right: 0.75rem;
	}

}



/* Desktop */
@media screen and (min-width: 1280px) {

	.header-logo {
		height: 56px;
	}
}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- ---Sections--- ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

/* Mobile */
@media screen and (min-width: 0px) {

	.sec-split .wrapper,
	.sec-reviews .wrapper {
		display: block;
	}

	/* ----- Hero ----- */

	.sec-hero {
		background: var(--Rhino-Gradient);
		padding: 2.5rem 0 0 0;
		color: var(--White);
		max-height: 100vh;
	}


	.sec-hero.small-hero {
		padding: 2rem 0 0 0;
		overflow: hidden;
	}

	.sec-hero .background-image {
		width: 100%;
		max-width: 100%;
		display: block;
		overflow: hidden;
		bottom: 0;
		left: 0;
		margin-top: -5rem;
	}

	.sec-hero .background-image img {
		width: 225vw;
		margin: 0 0 0 -90vw;
		float: left;
	}

	.sec-hero .hero-image img {
		width: 65%;
		max-height: 784px;
		max-width: 650px;
		margin: -13rem -1rem 0 auto;
		padding-bottom: -1rem;
		display: inline-block;
		float: right;
		top: 0;
		position: relative;
		z-index: 0;

	}

	.sec-hero > .wrapper {
		z-index: 2;
	}

	.small-hero > .wrapper {
		margin-bottom: 1rem;
	}

	.small-hero > .wrapper > .col-6 {
		z-index: 1;
	}


	.sec-hero h1,
	.sec-cta h1,
	.sec-hero p {
		color: var(--White);
	}

	.sec-hero .kicker {
		font-size: 12px;
		font-weight: 500;
	}

	.sec-hero div .secondary,
	.header nav .secondary,
	.sec-cta div .secondary {
		color: var(--White) !important;
	}

	.sec-hero div .secondary:hover,
	.header nav .secondary:hover,
	.sec-cta div .secondary:hover {
		background-color: var(--BahamaBlue);
		border-color: var(--BahamaBlue);
		transition: 0.3s;
	}

	.sec-hero-scroll {
		position: relative;
		width: 2px;
		padding: 4px 6px 6px 4px;
		height: 10px;
		border: 2px solid #fff;
		border-radius: 25px;
		box-sizing: content-box;
		left: 50%;
		margin-left: -9px;
		transform: translateY(22vh);
	}

	.scroller {
		width: 4px;
		height: 4px;
		border-radius: 100%;
		background-color: #fff;
		animation-name: scroll;
		animation-duration: 2.2s;
		animation-timing-function: cubic-bezier(.15, .41, .69, .94);
		animation-iteration-count: infinite;
	}

	@keyframes scroll {
		0% {
			opacity: 0;
		}

		10% {
			transform: translateY(0);
			opacity: 1;
		}

		100% {
			transform: translateY(9px);
			opacity: 0;
		}
	}

	/* ----- Image Split ----- */

	.sec-split {
		margin: 1.5rem 0;
	}

	.split-img {
		width: 100%;
	}

	.sec-split .wrapper,
	.sec-reviews .wrapper {
		align-items: center;
	}

	.sec-split h2,
	.sec-split h2 {
		margin-top: 0.75rem;
	}

	/* ----- CTA ----- */

	.sec-cta {
		margin: 1.5rem 0;
	}

	.sec-cta.service-cta {
		margin: 0rem 0 1.5rem 0;
	}

	.sec-cta-container {
		background: var(--Rhino-Gradient);
		padding: 1.25rem 8.333% 2rem 8.333%;
		overflow: hidden;
		border-radius: 8px;
		max-height: 250px;
	}

	.sec-cta-content {
		position: relative;
		z-index: 1;
	}

	.sec-cta-image {
		position: relative;
		z-index: 0;
	}

	.sec-cta-image img {
		margin: -2rem 0 0 -3rem;
		width: 135vw;
	}

	/* ----- Reviews ----- */

	.sec-reviews {
		margin: 1.5rem 0;
	}

	.sec-reviews .align-left img {
		border-radius: 8px;
		position: relative;
		width: 80%;
		z-index: 1
	}

	.sec-reviews .align-left img {
		border-radius: 8px;
		position: relative;
		width: 90%;
		z-index: 1
	}

	.review-stars {
		border-radius: 0 !important;
		width: 100% !important;
		margin: 6px 0;
	}

	.sec-reviews-container {
		background: var(--Onahau);
		position: relative;
		width: 140px;
		min-height: 40px;
		margin: -1.5rem 0 0 auto;
		padding: 0.6rem;
		border-radius: 12px;
		border: 10px;
		border-style: solid;
		border-color: var(--White);
		z-index: 2;
	}

	.sec-reviews h2 {
		margin-top: 0.5rem;
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.sec-split .wrapper,
	.sec-reviews .wrapper {
		display: flex;
	}

	.sec-hero {
		padding: 3.5rem 0 0 0;
	}

	.sec-hero .background-image {
		margin-top: -5rem;
	}

	.sec-hero .background-image img {
		width: auto;
		max-height: 35vh;
		margin: 0 -15vw;
		float: right;
	}

	.sec-hero .kicker {
		font-size: 14px;
	}

	.sec-cta-container {
		padding: 2.25rem 33.332% 2.25rem 8.333%;
	}

	.sec-cta-image img {
		margin: -7rem 0 -2.4rem 6.5rem;
		width: 70vw;
	}

	.sec-split {
		margin: 2rem 0;
	}

	.sec-cta {
		margin: 2rem 0;
	}

	.sec-cta.service-cta {
		margin: 1rem 0 2rem 0;
	}

	.sec-reviews {
		margin: 2rem 0;
	}

	.sec-reviews-container {
		margin: -2.5rem 0 0 auto;
		padding: 1rem;
		border-radius: 12px;
		border: 16px;
		border-style: solid;
		border-color: var(--White);
	}

	.sec-hero.small-hero {
		padding: 2rem 0 0 0;
	}


	.small-hero > .wrapper {
		margin-bottom: 0.75rem;
	}

}

@media screen and (min-width: 1024px) {

	.sec-hero .background-image img {
		max-height: 50vh;
		margin: 0 -8vw;
	}

	.sec-hero .hero-image img {
		width: 55%;
		margin: -13rem 0rem 0 auto;
	}


	.sec-split {
		margin: 3.25rem 0;
	}

	.sec-cta {
		margin: 3.25rem 0;
	}

	.sec-cta.service-cta {
		margin: 2rem 0 3.25rem 0;
	}

	.sec-reviews {
		margin: 3.25rem 0;
	}

}


/* Desktop */
@media screen and (min-width: 1280px) {

	.sec-hero {
		padding: 4rem 0 0 0;
	}

	.sec-hero .background-image {
		margin-top: -7rem;
	}

	.sec-hero.small-hero {
		padding: 3rem 0 0 0;
	}

	.small-hero > .wrapper {
		margin-bottom: 0.25rem;
	}

	.sec-hero .hero-image img {
		width: 50%;
	}

	.sec-hero .background-image img {
		width: 95vw;
		max-height: 100vh;
		margin: 0 -6vw 0 0;
	}

	.sec-hero-scroll {
		transform: translateY(20vh);
	}

	.sec-cta-container {
		padding: 2.25rem 38.332% 2.25rem 8.333%;
	}

}

@media screen and (min-width: 1440px) {
	.sec-hero-scroll {
		transform: translateY(25vh);
	}

	.sec-split {
		margin: 4rem 0;
	}

	.sec-cta {
		margin: 4rem 0;
	}

	.sec-cta.service-cta {
		margin: 3rem 0 4rem 0;
	}

	.sec-reviews {
		margin: 4rem 0;
	}
}

/* Desktop Large */
@media screen and (min-width: 1680px) {

	.sec-hero .background-image {
		margin-top: -7rem;
	}

	.sec-hero {
		padding: 5.5rem 0 0 0;
	}

	.sec-hero .background-image img {
		max-width: 1650px;
		margin: 0 -10vh 0 0;
	}

	.sec-cta-image img {
		margin: -7rem 0 -2.4rem 6rem;
		width: 55vw;
	}

	.sec-hero-scroll {
		transform: translateY(28vh);
	}

	.sec-cta-container {
		padding: 2.25rem 43.332% 2.25rem 8.333%;
	}

}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- ------UI------ ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

/* Mobile */
@media screen and (min-width: 0px) {

	.button {
		font-size: 16px;
		line-height: 28px;
		font-weight: 500;
		color: var(--White);
		border: 2px;
		border-style: solid;
		border-color: var(--AzureRadiance);
		background-color: var(--AzureRadiance);
		display: inline-block;
		padding: 5px 24px 5px 24px;
		margin: 0 4px 8px 0;
		border-radius: 24px;
		transition: 0.3s;
		cursor: pointer;
	}

	.button-link {
		font-size: 16px;
		line-height: 28px;
	}

	.secondary {
		color: var(--Rhino) !important;
		background-color: transparent;
		border: 2px;
		border-style: solid;
		border-color: var(--AzureRadiance);
		margin: 0 4px 8px 0 !important;
	}

	.sidebar .secondary {
		color: var(--White) !important;
		background-color: var(--Rhino);
		border-color: var(--Rhino);
	}

	.button > img {
		widows: 16px;
		height: 16px;
		vertical-align: middle;
		margin: 0 0 2px 12px;
	}

	.button:hover {
		background-color: var(--BahamaBlue);
		border-color: var(--BahamaBlue);
		transition: 0.3s;
	}

	.button.secondary:hover {
		background-color: var(--Onahau);
		border-color: var(--Onahau);
		transition: 0.3s;
	}

	.sidebar .secondary:hover {
		background-color: var(--BahamaBlue);
		border-color: var(--BahamaBlue);
		transition: 0.3s;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	li {
		list-style: none;
	}

	:focus {
		outline: none;
	}

	#button:focus {
		outline-style: hidden;
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.content {
		margin-top: 16vh;
	}

	.button-link {
		font-size: 16px;
		line-height: 28px;
	}

	.button {
		font-size: 16px;
		line-height: 28px;
	}

	.serv-content .wrapper {
		flex-wrap: nowrap;
	}

}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- ----Modal----- ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

/* Mobile */
@media screen and (min-width: 0px) {

	.modal {
		position: fixed;
		display: inherit;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 525px;
		max-width: calc(100% - 48px);
		height: 85%;
		max-height: 100%;
		border-radius: 16px;
		-webkit-box-shadow: 0px 0px 0px 8px rgba(34, 34, 34, 0.15);
		-moz-box-shadow: 0px 0px 8px 8px rgba(34, 34, 34, 0.15);
		box-shadow: 0px 0px 8px 8px rgba(34, 34, 34, 0.15);
		overflow: hidden;
		z-index: 100;
		background-color: var(--White);
		transition: 0.4s;
	}

	#modal {
		display: none;
		animation-name: modal-transition;
		animation-duration: 0.4s;
		animation-timing-function: ease-in;
	}

	@keyframes modal-transition {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.techman-wrapper {
		top: 0;
		left: 0;
		width: calc(100% - 1rem);
		height: calc(100% - 60px);
		overflow: hidden;
		max-height: 100%;
		padding: 0 0.5rem;
	}

	.modal-overlay {
		position: fixed;
		display: inherit;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: black;
		opacity: 0.5;
		transition: 0.4s;
	}

	.modal-controls {
		width: 100%;
		height: 40px;
		display: flex;
		background-color: var(--Onahau);
	}

	.modal-controls > span {
		margin-top: auto;
		margin-bottom: auto;
	}

	.kicker.label {
		font-size: 10px;
		opacity: 70%;
		text-align: center;
		margin: 10px auto 0 auto;
	}

	.caption.label {
		font-size: 12px;
		margin: 8px 10px auto 10px;
		cursor: pointer;
	}

	.caption.label > img {
		margin: 0 8px 0 8px;
		transform: translateY(2px);
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.modal {
		max-width: 100%;
		height: 60%;
	}

}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- ---Carousel--- ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */


/* Mobile */
@media screen and (min-width: 0px) {

	.sec-carousel {
		background-color: var(--Alabaster);
		padding: 0.25rem 0 0rem 0;
	}

	.carousel-item {
		text-align: center;
		color: var(--Rhino) !important;
		font-weight: 600;
		line-height: 16px;
	}

	.slick-slide {
		margin: 0px 20px;
	}

	.carousel-wrapper {
		overflow: inherit;
	}

	.slick-slide img {
		margin: 4px auto;
		width: 70%;
		max-width: 48px;
		image-rendering: -webkit-optimize-contrast;
	}

	.slick-track::before,
	.slick-track::after {
		display: table;
		content: '';
	}

	.slick-track::after {
		clear: both;
	}

	.slick-track {
		padding: 1rem 0;
	}

	.slick-loading .slick-track {
		visibility: hidden;
	}

	.slick-slide.slick-loading img {
		display: none;
	}

	.slick-slide.dragging img {
		pointer-events: none;
	}

	.slick-loading .slick-slide {
		visibility: hidden;
	}

	.slick-arrow {
		position: absolute;
		top: 45%;
		background: url(/static/images/carousel-control-hover.svg) center no-repeat;
		border: none;
		border-radius: 20px;
		width: 1.15rem;
		height: 1.15rem;
		background-size: 1.15rem;
		text-indent: -10000px;
		margin-top: -0.5rem;
		z-index: 1;
		transition: 0.4s;
	}

	.slick-arrow:hover {
		background: url(/static/images/carousel-control.svg) center no-repeat;
		transition: 0.4s;
	}

	.slick-arrow.slick-next {
		right: -3%;
		transform: rotate(180deg);
	}

	.slick-arrow.slick-prev {
		left: -3%;
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.sec-carousel {
		padding: 0.5rem 0 0.25rem 0;
	}

	.slick-arrow {
		width: 2rem;
		height: 2rem;
		background-size: 1.25rem;
		top: 40%;
	}

	.carousel-item {
		line-height: 20px;
	}

	.slick-arrow.slick-next {
		right: -3%;
	}

	.slick-arrow.slick-prev {
		left: -3%;
	}

}

/* Desktop */
@media screen and (min-width: 1280px) {

	.slick-arrow {
		top: 37%;
	}

	.slick-arrow.slick-next {
		right: -3.5%;
	}

	.slick-arrow.slick-prev {
		left: -3.5%;
	}

}

/* Desktop Large */
@media screen and (min-width: 1700px) {

	.slick-arrow.slick-next {
		right: -7%;
	}

	.slick-arrow.slick-prev {
		left: -7%;
	}
}

/* ----- -------------- ----- */
/* ----- -------------- ----- */
/* ----- ------UI------ ----- */
/* ----- -------------- ----- */
/* ----- -------------- ----- */

/* Mobile */
@media screen and (min-width: 0px) {

	.serv-content {
		margin: 1.5rem 0 0 0;
	}

	.service-item {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-color: var(--Onahau);
		padding-bottom: 10px;
		margin-bottom: 24px;
		display: flex;
		flex-wrap: wrap;
	}

	.service-item:first-of-type {
		border-top-style: solid;
		border-top-width: 2px;
		padding-top: 24px;
	}

	.service-item img {
		margin: 0 32px 8px 0;
		max-width: 48px;
		align-self: flex-start;
	}

	.service-item div {
		margin: 0 0 0 0px;
		align-self: flex-start;
	}

	.service-list {
		padding-right: 0rem;
		margin-bottom: 0.75rem;
	}

	.sidebar {
		width: 100%;
		text-align: center;
		border-radius: 8px;
		margin: 0 0 32px 0;
		overflow: hidden;
	}

	.sidebar.booking {
		background: var(--Rhino-Gradient) !important;
	}

	.sidebar h4 {
		color: var(--White);
		margin: 1.25rem 1.75rem 0.4rem 1.75rem;
	}

	.sidebar-image {
		margin-top: 16px;
		width: 105%;
		margin-left: -2.5%;
		margin-bottom: -1.25%
	}

	.booking .sidebar-image {
		width: 110%;
		margin-left: -5%;
		margin-top: 32px;
	}

}

/* Tablet */
@media screen and (min-width: 720px) {

	.serv-content {
		margin: 2rem 0 0 0;
	}

	.service-item:first-of-type {
		padding-top: 40px;
	}

	.service-list {
		padding-right: 1.5rem !important;
		margin-bottom: 0rem;
	}
}

/* Desktop */
@media screen and (min-width: 1020px) {

	.service-item {
		flex-wrap: nowrap;
		padding-bottom: 24px;
		margin-bottom: 40px;
	}

	.service-item img {
		margin: 0 32px 0 0;
	}

}

