@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Designed and Developed by Dan Burnage
	Email: info@danburnage.com
*/

/*------------------------------------------------------------------- */

/* ----- Layout Functions ----- */

.hide {
	display: none;
}

.align-right {
	margin-left: auto;
}

.align-left {
	margin-right: auto;
}

.site-wrapper {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 auto;
	max-width: calc(1240px + 32px);
}


