@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Designed and Developed by Dan Burnage
	Email: info@danburnage.com
*/

/*------------------------------------------------------------------- */

/* ----- Base Variables ----- */

:root {

	/* -- Colors -- */

	--AzureRadiance: #00afff;
	--BahamaBlue: #006E97;
	--Onahau: #CEF0FF;
	--Rhino: #283453;
	--Amaranth: #E7344C;
	--Supernova: #FFCC00;

	--Alabaster: #F8F8F8;
	--Iron: #E7E7E8;
	--Abbey: #50505A;
	--MineShaft: #222222;
	--White: #FFFFFF;

	--RedRibbon: #E30638;
	--JungleGreen: #2ACE58;
	--Buttercup: #F1C21B;

	--AzureRadiance-Gradient: linear-gradient(180deg, #00AFFF 0%, #0097FF 100%);
	--BahamaBlue-Gradient: linear-gradient(180deg, #006E97 0%, #3A4B78 100%);
	--Rhino-Gradient: linear-gradient(180deg, #283453 0%, #192135 100%);

	/* -- ######## -- */

}

/* ----- Site Container ----- */

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	outline: none;
	/* -- REM Value -- */
	font-size: 32px;
}

body {
	height: inherit;
	margin: 0;
	padding: 0;
    overflow-x: hidden;
	overflow-y: scroll;
	background: var(--Rhino-Gradient);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: var(--White);
}

:focus {
	outline: none;
}

#button:focus {
	outline-style: hidden;
}

/* ----- Layout Functions ----- */


/* Mobile */
@media screen and (min-width: 0px) {

	.align-right {
		margin-left: auto;
		margin-right: 8px;
	}

	.align-left {
		margin-right: auto;
		margin-left: 8px;
	}

	.header {
		color: var(--White);
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	.content {
		color: var(--White);
		margin-top: 8vh;
		margin-bottom: 1rem;
	}

	.footer {
		color: var(--White);
		margin-top: 1rem;
		/* margin-bottom: 1rem; */
		vertical-align: middle;
	}

	.button-margin {
		margin-top: 1.15rem;
		margin-top: 0.75rem;
	}

	.mobile-hide {
		display: none;
	}

	.fullpage-wrapper {
		height: calc(100% - 4.25rem);
	}

	.hero-logo {
		height: 32px;
	}

	.background-image {
		width: 100%;
		max-width: 100%;
		position: absolute;
		overflow: hidden;
		z-index: -10;
		bottom: 0;
		left: 0;
	}

	.background-image > img {
		width: 225vw;
		margin: 0 0 0 -90vw;
	}

	.modal {
		position: fixed;
		display:inherit;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 525px;
		max-width: calc(100% - 48px);
		height: 85%;
		max-height: 100%;
		border-radius: 16px;
		-webkit-box-shadow: 0px 0px 0px 8px rgba(34, 34, 34, 0.3);
		-moz-box-shadow: 0px 0px 8px 8px rgba(34, 34, 34, 0.3);
		box-shadow: 0px 0px 8px 8px rgba(34, 34, 34, 0.3);
		overflow: hidden;
		z-index: 10;
		background-color: var(--White);
	}

	#modal {
		display: none;
		animation-name: modal-transition;
		animation-duration: 0.4s;
		animation-timing-function: ease-in;
	}

	@keyframes modal-transition {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.techman-wrapper {
		top: 0;
		left: 0;
		width: calc(100% - 1rem);
		height: calc(100% - 60px);
		overflow: hidden;
		max-height: 100%;
		padding: 0 0.5rem;
	}

	.modal-overlay {
		position: fixed;
		display: inherit;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: black;
		opacity: 0.5;
	}

	.modal-controls {
		width: 100%;
		height: 40px;
		display: flex;
		background-color: var(--Onahau);
	}

	.modal-controls > span {
		margin-top: auto;
		margin-bottom: auto;

	}

	.kicker.label {
		font-size: 10px;
		opacity: 70%;
		text-align: center;
		margin: 10px auto 0 auto;
	}

	.caption.label {
		font-size: 12px;
		margin: 8px 10px auto 10px;
		cursor: pointer;
	}

	.caption.label > img {
		margin: 0 8px 0 8px;
		transform: translateY(2px);

	}

}


/* Tablet */
@media screen and (min-width: 720px) {

	.align-right {
		margin-right: 16px;
	}

	.align-left {
		margin-left: 16px;
	}

	.mobile-hide {
		display: inherit;
	}

	.fullpage-wrapper {
		height: calc(100% - 4rem);
	}

	.footer {
		margin-top: 1rem;
	}

	.content {
		margin-top: 16vh;
	}

	.hero-logo {
		height: 40px;
	}

	.button-margin {
		margin-top: 1.15rem;
	}

	.background-image > img {
		width: auto;
		max-height: 50vh;
		margin: 0 -5vw;
		float: right;
	}

	.modal {
		max-width: 100%;
		height: 60%;
	}

}

/* Desktop */
@media screen and (min-width: 1280px) {
	.content {
		margin-top: 18vh;
	}

	.background-image > img {
		width: 100vw;
		max-width: 1366px;
		max-height: 100vh;
		margin: 0 0 0 0;
	}

}

/* Desktop */
@media screen and (min-width: 1700px) {
	.content {
		margin-top: 18vh;
	}

	.background-image > img {
		margin: 0 25vh 0 0;
	}

}


/* ----- Visual Adjustments ----- */


.contact-link {
	padding-top: 0.25rem;
	opacity: 50%;
	transition: 0.3s;
}

.contact-link:hover {
	opacity: 100%;
	transition: 0.3s;
}

.portfolio-link {
	width: 24px;
	margin: 2px 0 0 0;
	opacity: 30%;
	transition: 0.3s;
}

.portfolio-link:hover  {
	opacity: 100%;
	transition: 0.3s;
}

.social-icons {
	width: 18px;
	vertical-align: middle;
	margin: 0 0 2px 10px;
	opacity: 75%;
	transition: 0.3s;
}

.social-icons:hover {
	opacity: 100%;
	transition: 0.3s;
}

span + .social-icons {
	margin: 0 0 2px 0px;
}

.caption > span {
	opacity: 60%;
}

.caption > a {
	opacity: 60%;
	transition: 0.3s;
}

.caption > a:hover {
	opacity: 100%;
	transition: 0.3s;
}

.button:hover {
	background-color: var(--BahamaBlue);
	transition: 0.3s;
}
